# build output
dist/
.astro/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env
.env.production

# macOS
.DS_Store

# Cloudflare
.wrangler/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
